.section-title
	.section-title-cn
		.section-title-arrow-left
		.section-title-cn-text 科目二
		.section-title-arrow-right
.clearfix
.service-item
	.service-item-img
		img(src = 'images/service-img-01.jpg')
	.service-item-content
		.service-item-title 教学项目
		.service-item-text 教学项目介绍
.service-item
	.service-item-img
		img(src = 'images/service-img-01.jpg')
	.service-item-content
		.service-item-title 教学项目
		.service-item-text 教学项目介绍
.service-item
	.service-item-img
		img(src = 'images/service-img-01.jpg')
	.service-item-content
		.service-item-title 教学项目
		.service-item-text 教学项目介绍
.service-item
	.service-item-img
		img(src = 'images/service-img-01.jpg')
	.service-item-content
		.service-item-title 教学项目
		.service-item-text 教学项目介绍
.service-item
	.service-item-img
		img(src = 'images/service-img-01.jpg')
	.service-item-content
		.service-item-title 教学项目
		.service-item-text 教学项目介绍