.section-about-us
	.row-container
		.row-content
			.row
				.col-1of1
					.col-content
						.section-title
							.section-title-cn
								.section-title-arrow-left
								.section-title-cn-text 关于我们
								.section-title-arrow-right
							.section-title-en ABOUT US
			.row
				.col-1of4.col-mobile-1of1
					.col-content
						.pic-area-pic
							img(src = 'images/aboutus-1.jpg')
				.col-1of2.col-mobile-1of1
					.col-content
						.section-about-us-text 
							p 上海荣安机动车驾驶员培训有限公司（简称荣安驾校）创建于2008年，是上海市城市道路交通运输管理处和交警察总队车辆管理所指定的创新模式试点驾校。在借鉴国外先进服务理念的同时，结合上海驾培行业现状，凭借“一人一车，日夜服务；计时收费，先学后付；培训考试，同一场地；全程数控，规范管理；五星服务，三星价格”的教学模式，成功打造出全国唯一的“荣安驾校分段计时教学考试模式”，受到学员（消费者）的广泛好评。
							a.btn-seemore(href = 'about_intro.html') 查看详细
				.col-1of4.col-mobile-1of1
					.col-content
						.pic-area-pic
							img(src = 'images/aboutus-3.jpg')
						