.col-1of5
	.register-flow-title 注册账号
	.register-flow-item.first.finished
		i.fa.fa-check
.col-1of5
	.register-flow-title 注册完成
	.register-flow-item.middle.current 2
.col-1of5
	.register-flow-title 完善预报名信息
	.register-flow-item.middle.normal 3
.col-1of5
	.register-flow-title 选择现场报名时间
	.register-flow-item.middle.normal 4
.col-1of5
	.register-flow-title 完成预报名
	.register-flow-item.last.normal 5
.clearfix
.portlet.light.margin-top-20
	.portlet-title.tabbable-line
		.caption.bold
			i.icon-flag.font-green-sharp
			span.caption-subject.font-green-sharp.uppercase 注册成功
	.portlet-body.form
		form.form-horizontal(action="#")
			.form-body.text-center(style="padding-bottom:50px;")
				i.fa.fa-check-circle.font-green-jungle(style="font-size:200px; line-height:200px;")
				h3 恭喜您，注册成功！
				span.help-block(style="margin-bottom:40px;") 您可以点击预报名继续完善信息，并报名参加机动车驾驶证培训
				//button.btn.blue(type="submit") 预报名
				a.btn.blue(href="admin-signup.html") 预报名
				button.btn.default(type="submit") 返回
