.col-1of5
	.register-flow-title 注册账号
	.register-flow-item.first.finished
		i.fa.fa-check
.col-1of5
	.register-flow-title 注册完成
	.register-flow-item.middle.finished
		i.fa.fa-check
.col-1of5
	.register-flow-title 完善预报名信息
	.register-flow-item.middle.finished
		i.fa.fa-check
.col-1of5
	.register-flow-title 选择现场报名时间
	.register-flow-item.middle.finished
		i.fa.fa-check
.col-1of5
	.register-flow-title 完成预报名
	.register-flow-item.last.current 5
.clearfix
.portlet.light.margin-top-20
	.portlet-title.tabbable-line
		.caption.bold
			i.icon-flag.font-green-sharp
			span.caption-subject.font-green-sharp.uppercase 预报名成功
	.portlet-body.form
		form.form-horizontal(action="#")
			.form-body.text-center(style="padding-bottom:50px;")
				i.fa.fa-check-circle.font-green-jungle(style="font-size:200px; line-height:200px;")
				h3 感谢您选择荣安驾校！
				span.help-block(style="margin-bottom:40px;") 您可以点击用户中心，看看有哪些新鲜事和消息通知。
				//button.btn.blue(type="submit") 用户中心
				a.btn.blue(href="admin-01-userinfo.html") 用户中心
				a.btn.blue(href="index.html") 回首页
