.portlet.light.margin-top-20
	.portlet-title.tabbable-line
		.caption.bold
			i.icon-flag.font-green-sharp
			span.caption-subject.font-green-sharp.uppercase 选择现场报名日期
	.portlet-body.form
		form.form-horizontal(action="#")
			.form-body
				span.help-block 
				.form-group
					label.col-md-4.col-no-padding.control-label 现场报名日期:
					.col-md-5
						select.form-control
							option 2015-07-24
							option 2015-08-01
						span.help-block 请选择现场报名日期,并于报名日期当日准时到驾校现场报名
				.form-group
					label.col-md-4.col-no-padding.control-label 现场报名地址:
					.col-md-5
						span.form-control-static 宝山区 潘广路2218号
				.row.margin-top-20
					.col-md-offset-4.col-md-5
						//button.btn.blue(type="submit") 用户中心
						a.btn.blue(href="admin-signup-success.html") 预报名
