.portlet.light.margin-top-20
	.portlet-title.tabbable-line
		.caption.bold
			i.icon-flag.font-green-sharp
			span.caption-subject.font-green-sharp.uppercase 预报名成功
	.portlet-body.form
		form.form-horizontal(action="#")
			.form-body.text-center(style="padding-bottom:50px;")
				i.fa.fa-check-circle.font-green-jungle(style="font-size:200px; line-height:200px;")
				h3 欢迎加入荣安驾校！
				span.help-block(style="margin-bottom:40px;") 您可以点击用户中心，看看有哪些新鲜事和消息通知。
				//button.btn.blue(type="submit") 用户中心
				a.btn.blue(href="admin-01-userinfo.html") 用户中心
				a.btn.blue(href="index.html") 回首页
