.row
	.col-md-12.col-sm-12
		.portlet.light
			.portlet-title.tabbable-line
				.caption.bold
					i.icon-speedometer.font-green-sharp
					span.caption-subject.font-green-sharp.uppercase 事件通知
			div.portlet-body
				ul.feeds
					li
						a(href="javascript:;")
							.col1
								.cont
									.cont-col1
										.label.label-sm.label-success
											i.fa.fa-bell-o
									.cont-col2
										.desc 新版驾校管控系统正式上线！
							.col2
								.date 4小时前
					li
						.col1
							.cont
								.cont-col1
									.label.label-sm.label-danger
										i.fa.fa-bolt
								.cont-col2
									.desc 您已错过了7.20日2:00预约的课程
						.col2
							.date 1天前
					li
						a(href="javascript:;")
							.col1
								.cont
									.cont-col1
										.label.label-sm.label-info
											i.fa.fa-bullhorn
									.cont-col2
										.desc 国庆放假通知
							.col2
								.date 7.20
					li
						.col1
							.cont
								.cont-col1
									.label.label-sm.label-warning
										i.fa.fa-exclamation-circle
								.cont-col2
									.desc 今天13:00有您预约的课程
						.col2
							.date 4小时前
					li
						a(href="javascript:;")
							.col1
								.cont
									.cont-col1
										.label.label-sm.label-success
											i.fa.fa-bell-o
									.cont-col2
										.desc 新版驾校管控系统正式上线！
							.col2
								.date 4小时前
					li
						.col1
							.cont
								.cont-col1
									.label.label-sm.label-danger
										i.fa.fa-bolt
								.cont-col2
									.desc 您已错过了7.20日2:00预约的课程
						.col2
							.date 1天前
					li
						a(href="javascript:;")
							.col1
								.cont
									.cont-col1
										.label.label-sm.label-info
											i.fa.fa-bullhorn
									.cont-col2
										.desc 国庆放假通知
							.col2
								.date 7.20
					li
						.col1
							.cont
								.cont-col1
									.label.label-sm.label-warning
										i.fa.fa-exclamation-circle
								.cont-col2
									.desc 今天13:00有您预约的课程
						.col2
							.date 4小时前
					li
						a(href="javascript:;")
							.col1
								.cont
									.cont-col1
										.label.label-sm.label-success
											i.fa.fa-bell-o
									.cont-col2
										.desc 新版驾校管控系统正式上线！
							.col2
								.date 4小时前
					li
						.col1
							.cont
								.cont-col1
									.label.label-sm.label-danger
										i.fa.fa-bolt
								.cont-col2
									.desc 您已错过了7.20日2:00预约的课程
						.col2
							.date 1天前
					li
						a(href="javascript:;")
							.col1
								.cont
									.cont-col1
										.label.label-sm.label-info
											i.fa.fa-bullhorn
									.cont-col2
										.desc 国庆放假通知
							.col2
								.date 7.20
					li
						.col1
							.cont
								.cont-col1
									.label.label-sm.label-warning
										i.fa.fa-exclamation-circle
								.cont-col2
									.desc 今天13:00有您预约的课程
						.col2
							.date 4小时前
					li
						a(href="javascript:;")
							.col1
								.cont
									.cont-col1
										.label.label-sm.label-success
											i.fa.fa-bell-o
									.cont-col2
										.desc 新版驾校管控系统正式上线！
							.col2
								.date 4小时前
					li
						.col1
							.cont
								.cont-col1
									.label.label-sm.label-danger
										i.fa.fa-bolt
								.cont-col2
									.desc 您已错过了7.20日2:00预约的课程
						.col2
							.date 1天前
					li
						a(href="javascript:;")
							.col1
								.cont
									.cont-col1
										.label.label-sm.label-info
											i.fa.fa-bullhorn
									.cont-col2
										.desc 国庆放假通知
							.col2
								.date 7.20
					li
						.col1
							.cont
								.cont-col1
									.label.label-sm.label-warning
										i.fa.fa-exclamation-circle
								.cont-col2
									.desc 今天13:00有您预约的课程
						.col2
							.date 4小时前
