.row
	.col-md-4.col-sm-6
		.portlet.light.profile-sidebar-portlet
			.profile-userpic
				img.img-responsive(src="assets/admin/pages/media/profile/profile_user.jpg")
			.profile-usertitle
				.profile-usertitle-name 徐龙象
				.profile-info.right-border
					.profile-info-label 驾照类型
					.profile-info-cont C1
				.profile-info
					.profile-info-label 考试车型
					.profile-info-cont 桑塔纳
				.profile-info.right-border
					.profile-info-label 手机号
					.profile-info-cont 13812345678
				.profile-info
					.profile-info-label 学员编号
					.profile-info-cont C1B301290
			.clearfix
			.profile-usermenu
				ul.nav
					li.active
						a(href="#tab_profile_1" data-toggle="tab")
							i.icon-home
							|信息总览
					li
						a(href="#tab_profile_2" data-toggle="tab")
							i.icon-settings
							|账户设置
	.col-md-8.col-sm-6
		.tab-content
			.row.tab-pane.active#tab_profile_1
				.col-lg-6.col-md-6.col-sm-12.col-xs-12
					.dashboard-stat.green-haze
						.visual
							i.fa.fa-calendar
						.details
							.number 2015-08-12 13:00
							.desc 已预约
						a.more(href="javascript:;") 查看详细
							i.m-icon-swapright.m-icon-white
				.col-lg-6.col-md-6.col-sm-12.col-xs-12
					.dashboard-stat.purple-plum
						.visual
							i.fa.fa-car
						.details
							.number 安全文明驾驶常识
							.desc 课程推荐
						a.more(href="javascript:;") 查看详细
							i.m-icon-swapright.m-icon-white
				.col-lg-6.col-md-6.col-sm-12.col-xs-12
					.dashboard-stat.red-intense
						.visual
							i.fa.fa-cny
						.details
							.number ¥236.50
							.desc 待缴费
						a.more(href="javascript:;") 去缴费 
							i.m-icon-swapright.m-icon-white
				.col-lg-6.col-md-6.col-sm-12.col-xs-12
					.dashboard-stat.blue-madison
						.visual
							i.fa.fa-credit-card
						.details
							.number ¥1349.00
							.desc 余额
						a.more(href="javascript:;") 查看详细
							i.m-icon-swapright.m-icon-white
				.col-md-12.col-sm-12
					include ../history/index
							

			.portlet.light.tab-pane#tab_profile_2
				.portlet-title.tabbable-line
					.caption.caption-md
						i.icon-globe.theme-font.hide
						span.caption-subject.font-blue-madison.bold 账户设置
					ul.nav.nav-tabs
						li.active
							a(href="#tab_1_1" data-toggle="tab") 个人信息
						li
							a(href="#tab_1_2" data-toggle="tab") 修改头像
						li
							a(href="#tab_1_3" data-toggle="tab") 修改密码
				.portlet-body
					.tab-content
						// PERSONAL INFO TAB
						.tab-pane.active#tab_1_1
							form(role="form" action="#")
								.form-group
									label.control-label 昵称
									input.form-control(type="text" placeholder="翻滚吧牛宝宝")
								.form-group
									label.control-label 姓名
									input.form-control(type="text" placeholder="徐龙象")
								.form-group
									label.control-label 性别
									.radio-list
										label.radio-inline
											input(type="radio" name="optionsRadios" id="optionsRadios1" value="男" checked)
											|男
										label.radio-inline
											input(type="radio" name="optionsRadios" id="optionsRadios2" value="女")
											|女
								.form-group
									label.control-label 手机号码
									input.form-control(type="text" placeholder="13812345678")
								.form-group
									label.control-label 证件类型
									select.form-control
										option 身份证
										option 军官证
								.form-group
									label.control-label 证件号码
									input.form-control(type="text" placeholder="371720199011230924")
								.form-group
									label.control-label 邮箱
									input.form-control(type="text" placeholder="mailaddress@163.com")
								.margin-top-10
									a.btn.green-haze(href="javascript:;") 保存修改
						// CHANGE AVATAR TAB
						.tab-pane#tab_1_2
							p Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
							form(action="#" role="form")
								.form-group
									.fileinput.fileinput-new(data-provides="fileinput")
										.fileinput-new.thumbnail(style="width: 200px; height: 150px;")
											img(src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="")
										.fileinput-preview.fileinput-exists.thumbnail(style="max-width: 200px; max-height: 150px;")
										div
											span.btn.default.btn-file
												input(type="file" name="...")
											a.btn.default.fileinput-exists(href="javascript:;" data-dismiss="fileinput") Remove
									.clearfix.margin-top-10
										span.label.label-danger NOTE!
										span Attached image thumbnail is supported in Latest Firefox, Chrome, Opera, Safari and Internet Explorer 10 only
								.margin-top-10
									a.btn.green-haze(href="javascript:;") Submit
									a.btn.default(href="javascript:;") Cancel
						// CHANGE PASSWORD TAB
						.tab-pane#tab_1_3
							form(action="#")
								.form-group
									label.control-label Current Password
									input.form-control(type="password")
								.form-group
									label.control-label New Password
									input.form-control(type="password")
								.form-group
									label.control-label Re-type New Password
									input.form-control(type="password")
								.margin-top-10
									a.btn.green-haze(href="javascript:;") Change Password
									a.btn.default(href="javascript:;") Cancel
