ul.nav.nav-tabs.nav-history
	li.active
		.active-arrow
		a(href="#histab_1" data-toggle="tab") 全部历史记录
	li
		.active-arrow
		a(href="#histab_2" data-toggle="tab") 签到签退记录
	li
		.active-arrow
		a(href="#histab_3" data-toggle="tab") 预约记录
	li
		.active-arrow
		a(href="#histab_4" data-toggle="tab") 培训记录
	li
		.active-arrow
		a(href="#histab_5" data-toggle="tab") 缴费记录
	li
		.active-arrow
		a(href="#histab_6" data-toggle="tab" title="网上学习/问卷调查/模拟考试记录") 其他记录

.tab-content
	.tab-pane.active#histab_1
		ul.timeline
			li.timeline-item
				.timeline-badge
					.timeline-icon.bgc-yellow
						i.fa.fa-sign-out.font-white
				.timeline-body
					.timeline-body-arrow
					.timeline-body-head
						.timeline-body-head-caption
							span.timeline-body-alerttitle.font-yellow 签退：科目二场地单放练习
							span.timeline-body-time.font-grey-cascade  2015-07-29 3:24 PM
						//.timeline-body-head-actions
						//	button.btn.grey-salsa.btn-sm.dropdown-toggle(type="button") 查看详细
					.timeline-body-content
						span.font-grey-cascade
							|您完成了2小时的场地单放联系，并与2015年7月29日下午3:24签退
			li.timeline-item
				.timeline-badge
					.timeline-icon.bgc-purple
						i.fa.fa-car.font-white
				.timeline-body
					.timeline-body-arrow
					.timeline-body-head
						.timeline-body-head-caption
							span.timeline-body-alerttitle.font-purple 培训：科目二场地单放练习
							span.timeline-body-time.font-grey-cascade  2015-07-29 1:00 PM
					.timeline-body-content
						span.font-grey-cascade
							|您于2015年7月29日下午1:00开始了为期2小时的科目二场地单放练习				
			li.timeline-item
				.timeline-badge
					.timeline-icon.bgc-green
						i.fa.fa-sign-in.font-white
				.timeline-body
					.timeline-body-arrow
					.timeline-body-head
						.timeline-body-head-caption
							span.timeline-body-alerttitle.font-green 签到：科目二场地单放练习
							span.timeline-body-time.font-grey-cascade  2015-07-29 12:53 AM
					.timeline-body-content
						span.font-grey-cascade
							|您于2015年7月29日上午12:53签到，即将开始从1:00pM到3:00PM的科目二场地单放练习
			li.timeline-item
				.timeline-badge
					.timeline-icon.bgc-ocean-blue
						i.fa.fa-calendar.font-white
				.timeline-body
					.timeline-body-arrow
					.timeline-body-head
						.timeline-body-head-caption
							span.timeline-body-alerttitle.font-ocean-blue 预约：7月29日科目二场地单放联系
							span.timeline-body-time.font-grey-cascade  2015-07-28 7:20 PM
					.timeline-body-content
						span.font-grey-cascade
							|您于2015年7月28日下午7:20预约了7月29日从1:00pM到3:00PM的科目二场地单放练习
			li.timeline-item
				.timeline-badge
					.timeline-icon.bgc-orange-red
						i.fa.fa-cny.font-white
				.timeline-body
					.timeline-body-arrow
					.timeline-body-head
						.timeline-body-head-caption
							span.timeline-body-alerttitle.font-orange-red 缴费：￥210.00
							span.timeline-body-time.font-grey-cascade  2015-07-28 7:14 PM
					.timeline-body-content
						span.font-grey-cascade
							|您于2015年7月28日下午7:14交付2015年7月26日上午8:00到10:00的科目二场地培训费用
			li.timeline-item
				.timeline-badge
					.timeline-icon.bgc-ocean-blue
						i.fa.fa-file-text.font-white
				.timeline-body
					.timeline-body-arrow
					.timeline-body-head
						.timeline-body-head-caption
							span.timeline-body-alerttitle.font-ocean-blue 科目一培训问卷调查
							span.timeline-body-time.font-grey-cascade  2015-07-22 10:38  AM
					.timeline-body-content
						span.font-grey-cascade
							|您于2015年7月22日上午10:38参与了科目一培训问卷调查
			li.timeline-item
				.timeline-badge
					.timeline-icon.bgc-purple
						i.fa.fa-edit.font-white
				.timeline-body
					.timeline-body-arrow
					.timeline-body-head
						.timeline-body-head-caption
							span.timeline-body-alerttitle.font-purple 科目一模拟考试
							span.timeline-body-time.font-grey-cascade  2015-07-16 09:12  PM
					.timeline-body-content
						span.font-grey-cascade
							|您于2015年7月16日下午9:12开始了科目一网上模拟考试
			li.timeline-item
				.timeline-badge
					.timeline-icon.bgc-purple
						i.fa.fa-desktop.font-white
				.timeline-body
					.timeline-body-arrow
					.timeline-body-head
						.timeline-body-head-caption
							span.timeline-body-alerttitle.font-purple 科目一网上学习
							span.timeline-body-time.font-grey-cascade  2015-07-15 03:08 PM
					.timeline-body-content
						span.font-grey-cascade
							|您于2015年7月15日下午3:08开始了科目一网上学习
			li.timeline-item
				.timeline-badge
					.timeline-icon.bgc-green
						i.fa.fa-flag.font-white
				.timeline-body
					.timeline-body-arrow
					.timeline-body-head
						.timeline-body-head-caption
							span.timeline-body-alerttitle.font-green 报名
							span.timeline-body-time.font-grey-cascade  2015-07-10 01:51 PM
					.timeline-body-content
						span.font-grey-cascade
							|您于2015年7月10日下午1:51完成机动车驾驶证报名

	.tab-pane#histab_2
		ul.timeline
			li.timeline-item
				.timeline-badge
					.timeline-icon.bgc-yellow
						i.fa.fa-sign-out.font-white
				.timeline-body
					.timeline-body-arrow
					.timeline-body-head
						.timeline-body-head-caption
							span.timeline-body-alerttitle.font-yellow 签退：科目二场地单放练习
							span.timeline-body-time.font-grey-cascade  2015-07-29 3:24 PM
						//.timeline-body-head-actions
						//	button.btn.grey-salsa.btn-sm.dropdown-toggle(type="button") 查看详细
					.timeline-body-content
						span.font-grey-cascade
							|您完成了2小时的场地单放联系，并与2015年7月29日下午3:24签退			
			li.timeline-item
				.timeline-badge
					.timeline-icon.bgc-green
						i.fa.fa-sign-in.font-white
				.timeline-body
					.timeline-body-arrow
					.timeline-body-head
						.timeline-body-head-caption
							span.timeline-body-alerttitle.font-green 签到：科目二场地单放练习
							span.timeline-body-time.font-grey-cascade  2015-07-29 12:53 AM
					.timeline-body-content
						span.font-grey-cascade
							|您于2015年7月29日上午12:53签到，即将开始从1:00pM到3:00PM的科目二场地单放练习
			li.timeline-item
				.timeline-badge
					.timeline-icon.bgc-yellow
						i.fa.fa-sign-out.font-white
				.timeline-body
					.timeline-body-arrow
					.timeline-body-head
						.timeline-body-head-caption
							span.timeline-body-alerttitle.font-yellow 签退：科目二场地单放练习
							span.timeline-body-time.font-grey-cascade  2015-07-29 3:24 PM
						//.timeline-body-head-actions
						//	button.btn.grey-salsa.btn-sm.dropdown-toggle(type="button") 查看详细
					.timeline-body-content
						span.font-grey-cascade
							|您完成了2小时的场地单放联系，并与2015年7月29日下午3:24签退			
			li.timeline-item
				.timeline-badge
					.timeline-icon.bgc-green
						i.fa.fa-sign-in.font-white
				.timeline-body
					.timeline-body-arrow
					.timeline-body-head
						.timeline-body-head-caption
							span.timeline-body-alerttitle.font-green 签到：科目二场地单放练习
							span.timeline-body-time.font-grey-cascade  2015-07-29 12:53 AM
					.timeline-body-content
						span.font-grey-cascade
							|您于2015年7月29日上午12:53签到，即将开始从1:00pM到3:00PM的科目二场地单放练习
	.tab-pane#histab_3
		ul.timeline
			li.timeline-item
				.timeline-badge
					.timeline-icon.bgc-ocean-blue
						i.fa.fa-calendar.font-white
				.timeline-body
					.timeline-body-arrow
					.timeline-body-head
						.timeline-body-head-caption
							span.timeline-body-alerttitle.font-ocean-blue 预约：7月29日科目二场地单放联系
							span.timeline-body-time.font-grey-cascade  2015-07-28 7:20 PM
					.timeline-body-content
						span.font-grey-cascade
							|您于2015年7月28日下午7:20预约了7月29日从1:00pM到3:00PM的科目二场地单放练习
			li.timeline-item
				.timeline-badge
					.timeline-icon.bgc-ocean-blue
						i.fa.fa-calendar.font-white
				.timeline-body
					.timeline-body-arrow
					.timeline-body-head
						.timeline-body-head-caption
							span.timeline-body-alerttitle.font-ocean-blue 预约：7月29日科目二场地单放联系
							span.timeline-body-time.font-grey-cascade  2015-07-28 7:20 PM
					.timeline-body-content
						span.font-grey-cascade
							|您于2015年7月28日下午7:20预约了7月29日从1:00pM到3:00PM的科目二场地单放练习
			li.timeline-item
				.timeline-badge
					.timeline-icon.bgc-ocean-blue
						i.fa.fa-calendar.font-white
				.timeline-body
					.timeline-body-arrow
					.timeline-body-head
						.timeline-body-head-caption
							span.timeline-body-alerttitle.font-ocean-blue 预约：7月29日科目二场地单放联系
							span.timeline-body-time.font-grey-cascade  2015-07-28 7:20 PM
					.timeline-body-content
						span.font-grey-cascade
							|您于2015年7月28日下午7:20预约了7月29日从1:00pM到3:00PM的科目二场地单放练习
	.tab-pane#histab_4
		ul.timeline
			li.timeline-item
				.timeline-badge
					.timeline-icon.bgc-purple
						i.fa.fa-car.font-white
				.timeline-body
					.timeline-body-arrow
					.timeline-body-head
						.timeline-body-head-caption
							span.timeline-body-alerttitle.font-purple 培训：科目二场地单放练习
							span.timeline-body-time.font-grey-cascade  2015-07-29 1:00 PM
					.timeline-body-content
						span.font-grey-cascade
							|您于2015年7月29日下午1:00开始了为期2小时的科目二场地单放练习
			li.timeline-item
				.timeline-badge
					.timeline-icon.bgc-purple
						i.fa.fa-car.font-white
				.timeline-body
					.timeline-body-arrow
					.timeline-body-head
						.timeline-body-head-caption
							span.timeline-body-alerttitle.font-purple 培训：科目二场地单放练习
							span.timeline-body-time.font-grey-cascade  2015-07-29 1:00 PM
					.timeline-body-content
						span.font-grey-cascade
							|您于2015年7月29日下午1:00开始了为期2小时的科目二场地单放练习
			li.timeline-item
				.timeline-badge
					.timeline-icon.bgc-purple
						i.fa.fa-car.font-white
				.timeline-body
					.timeline-body-arrow
					.timeline-body-head
						.timeline-body-head-caption
							span.timeline-body-alerttitle.font-purple 培训：科目二场地单放练习
							span.timeline-body-time.font-grey-cascade  2015-07-29 1:00 PM
					.timeline-body-content
						span.font-grey-cascade
							|您于2015年7月29日下午1:00开始了为期2小时的科目二场地单放练习
	.tab-pane#histab_5
		ul.timeline
			li.timeline-item
				.timeline-badge
					.timeline-icon.bgc-orange-red
						i.fa.fa-cny.font-white
				.timeline-body
					.timeline-body-arrow
					.timeline-body-head
						.timeline-body-head-caption
							span.timeline-body-alerttitle.font-orange-red 缴费：￥210.00
							span.timeline-body-time.font-grey-cascade  2015-07-28 7:14 PM
					.timeline-body-content
						span.font-grey-cascade
							|您于2015年7月28日下午7:14交付2015年7月26日上午8:00到10:00的科目二场地培训费用
			li.timeline-item
				.timeline-badge
					.timeline-icon.bgc-orange-red
						i.fa.fa-cny.font-white
				.timeline-body
					.timeline-body-arrow
					.timeline-body-head
						.timeline-body-head-caption
							span.timeline-body-alerttitle.font-orange-red 缴费：￥210.00
							span.timeline-body-time.font-grey-cascade  2015-07-28 7:14 PM
					.timeline-body-content
						span.font-grey-cascade
							|您于2015年7月28日下午7:14交付2015年7月26日上午8:00到10:00的科目二场地培训费用
	.tab-pane#histab_6
		ul.timeline
			li.timeline-item
				.timeline-badge
					.timeline-icon.bgc-ocean-blue
						i.fa.fa-file-text.font-white
				.timeline-body
					.timeline-body-arrow
					.timeline-body-head
						.timeline-body-head-caption
							span.timeline-body-alerttitle.font-ocean-blue 科目一培训问卷调查
							span.timeline-body-time.font-grey-cascade  2015-07-22 10:38  AM
					.timeline-body-content
						span.font-grey-cascade
							|您于2015年7月22日上午10:38参与了科目一培训问卷调查
			li.timeline-item
				.timeline-badge
					.timeline-icon.bgc-purple
						i.fa.fa-edit.font-white
				.timeline-body
					.timeline-body-arrow
					.timeline-body-head
						.timeline-body-head-caption
							span.timeline-body-alerttitle.font-purple 科目一模拟考试
							span.timeline-body-time.font-grey-cascade  2015-07-16 09:12  PM
					.timeline-body-content
						span.font-grey-cascade
							|您于2015年7月16日下午9:12开始了科目一网上模拟考试
			li.timeline-item
				.timeline-badge
					.timeline-icon.bgc-purple
						i.fa.fa-desktop.font-white
				.timeline-body
					.timeline-body-arrow
					.timeline-body-head
						.timeline-body-head-caption
							span.timeline-body-alerttitle.font-purple 科目一网上学习
							span.timeline-body-time.font-grey-cascade  2015-07-15 03:08 PM
					.timeline-body-content
						span.font-grey-cascade
							|您于2015年7月15日下午3:08开始了科目一网上学习
			li.timeline-item
				.timeline-badge
					.timeline-icon.bgc-green
						i.fa.fa-flag.font-white
				.timeline-body
					.timeline-body-arrow
					.timeline-body-head
						.timeline-body-head-caption
							span.timeline-body-alerttitle.font-green 报名
							span.timeline-body-time.font-grey-cascade  2015-07-10 01:51 PM
					.timeline-body-content
						span.font-grey-cascade
							|您于2015年7月10日下午1:51完成机动车驾驶证报名

