.page-header.navbar.navbar-fixed-top
	// HEADER INNER
	.page-header-inner
		// LOGO
		.page-logo
			a(href="admin-01-userinfo.html")
				img.logo-default(src="assets/admin/layout/img/logo.png" alt="logo" class="logo-default")
.clearfix
