h3.page-title
	|科目一模拟考试 
	small 共100题，考试时间45分钟
.result-block.passed
	.result-point 95
	span 考试结束，您的分数95分，恭喜您通过了模拟考试。您可以继续查看考试题目，查看题目分析。
.row
	.col-md-12.col-sm-12
		.portlet.light
			.portlet-title.tabbable-line
				.caption
					i.exam-num 3.
					span.caption-subject.caption-exam 路中心黄色虚线属于哪一类标线？
			.portlet-body
				.col-1of3 
					.col-content
						.form-group
							.radio-list.exam-radio-list
								label.bg-right
									input(type="radio" name="optionsRadios" id="optionsRadios1" value="option1") 
									|&nbsp;A.&nbsp;指示标线
									i.icon-check.pull-right
								label.bg-wrong
									input(type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked)
									|&nbsp;B.&nbsp;禁止标线
									i.icon-close.pull-right
								label
									input(type="radio" name="optionsRadios" id="optionsRadios3" value="option3")
									|&nbsp;C.&nbsp;警告标志
								label
									input(type="radio" name="optionsRadios" id="optionsRadios4" value="option4")
									|&nbsp;D.&nbsp;辅助标线
				.col-2of3 
					//图片区域
					img.q-img(src="images/exam-03-img.jpg")
				.clearfix
		a.btn.blue(href="admin-exam-03.html")
			i.fa.fa-chevron-left
			|&nbsp;上一题
		a.btn.blue(href="admin-exam-05.html")
			|下一题&nbsp;
			i.fa.fa-chevron-right
		a.btn.blue(href="#fenxi" data-toggle="modal")
			|本题分析
		a.btn.blue(href="javascript:;")
			|&nbsp;重考&nbsp;
.q-matrix
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 1
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 2
	.col-1of25
		.col-content
			a.q-btn.wrong.sel(href="javascript:;") 3
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 4
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 5
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 6
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 7
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 8
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 9
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 10
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 11
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 12
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 13
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 14
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 15
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 16
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 17
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 18
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 19
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 20
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 21
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 22
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 23
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 24
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 25
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 26
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 27
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 28
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 29
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 30
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 31
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 32
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 33
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 34
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 35
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 36
	.col-1of25
		.col-content
			a.q-btn.wrong(href="javascript:;") 37
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 38
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 39
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 40
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 41
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 42
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 43
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 44
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 45
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 46
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 47
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 48
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 49
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 50
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 51
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 52
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 53
	.col-1of25
		.col-content
			a.q-btn.wrong(href="javascript:;") 54
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 55
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 56
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 57
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 58
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 59
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 60
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 61
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 62
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 63
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 64
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 65
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 66
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 67
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 68
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 69
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 70
	.col-1of25
		.col-content
			a.q-btn.wrong(href="javascript:;") 71
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 72
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 73
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 74
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 75
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 76
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 77
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 78
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 79
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 80
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 81
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 82
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 83
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 84
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 85
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 86
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 87
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 88
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 89
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 90
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 91
	.col-1of25
		.col-content
			a.q-btn.wrong(href="javascript:;") 92
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 93
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 94
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 95
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 96
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 97
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 98
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 99
	.col-1of25
		.col-content
			a.q-btn.right(href="javascript:;") 100
	.clearfix


.modal.fade#fenxi(tabindex="-1" role="basic" aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button" data-dismiss="modal" aria-hidden="true")
				h4.modal-title 第2题试题分析
			.modal-body 试题分析内容
			//.modal-footer
				//button.btn.default(type="button" data-dismiss="modal") Close
				//button.btn.blue(type="button") Save changes