.article-page
	.article-title 联系我们
	.inner-content.inner-content-article
		.col-2of5.col-mobile-1of1
			.col-content
				.contact-line
					.contact-icon.cicon-1
					.contact-text-2 客服电话：400-800-8888
				.contact-line
					.contact-icon.cicon-2
					.contact-text-2 QQ号：12345678
		.col-1of5.col-mobile-1of1
			.col-content
				.contact-qrcode-box
					img(src='images/qrcode.png')
					.contact-qrcode-text 扫一扫，加微信
		.col-2of5.col-mobile-1of1
			.col-content
				.contact-line
					.contact-icon.cicon-3
					.contact-text-1 宝山校区：上海市潘广路2218号
					.contact-text-1 电话：23124123
				.contact-line
					.contact-icon.cicon-3
					.contact-text-1 金山校区：新利路9128号（亭枫公路）
					.contact-text-1 电话：23124123
		.clearfix

