.row-container
	.row-content
		.row
			.col-1of4.col-mobile-1of2
				.col-content
					.wcu-pic
						img(src = 'images/section-3-1.png')
					.wcu-title 先学后付  计时收费
					.wcu-content 荣安驾校采用先学车，后收费，学多少，收多少的模式，先学后付，计时收费，让学员真正成为收尊重的消费者
			.col-1of4.col-mobile-1of2
				.col-content
					.wcu-pic
						img(src = 'images/section-3-2.png')
					.wcu-title 一车一人  四个自主
					.wcu-content 保证学员学车时一人一车，并采用四个自主的模式，即自选教练、自选时间、自选单价和自约考试
			.col-1of4.col-mobile-1of2
				.col-content
					.wcu-pic
						img(src = 'images/section-3-3.png')
					.wcu-title 免费班车  日夜接送
					.wcu-content 驾校配有免费班车进行日夜接送，班车接送范围覆盖市区大部分区域，保证学员随时可乘坐班车前来培训
			.col-1of4.col-mobile-1of2
				.col-content
					.wcu-pic
						img(src = 'images/section-3-4.png')
					.wcu-title 培训考试  同一场地
					.wcu-content 学员的培训场地即考试用场地，避免了因场地不熟练而导致的失误，和在陌生场地进行考试时的紧张情绪