.section-services
	.row-container
		.row-content
			.row
				.col-1of3.col-mobile-1of1
					.col-content
						a.service-block(href = 'services_1.html')
							.service-block-pic
								img(src = 'images/section-2-1.jpg')
								.service-block-title 科目一
									.service-block-title-deco
							.service-block-text 又称科目一理论考试、驾驶员理论考试，是机动车驾驶证考核的一部分
				.col-1of3.col-mobile-1of1
					.col-content
						a.service-block(href = 'services_2.html')
							.service-block-pic
								img(src = 'images/section-2-2.jpg')
								.service-block-title 科目二
									.service-block-title-deco
							.service-block-text 又称小路考，是机动车驾驶证考核的一部分，是场地驾驶技能考试科目的简称
				.col-1of3.col-mobile-1of1
					.col-content
						a.service-block(href = 'services_3.html')
							.service-block-pic
								img(src = 'images/section-2-3.jpg')
								.service-block-title 科目三
									.service-block-title-deco
							.service-block-text 是机动车驾驶人考试中道路驾驶技能和安全文明驾驶常识考试科目的简称
