/*问卷调查
/*---------------------------------------------------------------------------------*/
/*教练评价*/
.evaluation-item
	width auto
	height auto
	overflow hidden
	margin-bottom 20px
	padding-bottom 20px
	border-bottom 1px dotted GRAY_D6
	.evaluation-box
		width auto
		height auto
		background-color #ffffff
		position relative
		padding-left 104px
		padding-right 20px
		overflow hidden
		height auto
		.evaluation-avatar
			position absolute
			width 64px
			height 64px
			left 20px
			top 20px
			border-radius 64px !important
			overflow hidden
			img
				width 100%
				height 100%
				float left
		.evaluation-name
			width auto
			height 34px
			line-height 34px
			margin-top 20px
			font-size 17px
			color #333333
			text-align left
			span
				font-size 12px
				color 999999
		.evaluation-info
			width auto
			height 30px
			line-height 30px
			margin-bottom 20px
			font-size 12px
			color #666666
			text-align left
	.evaluation-kpi
		display block
		width auto
		height auto
		padding-bottom 10px
		overflow hidden
		.evaluation-kpi-title
			display block
			float left
			line-height 30px
			font-size 14px
			color #333333
			float left
		.evaluation-kpi-stars
			display block
			float left
			line-height 30px
			margin 0px 10px
			i
				display block
				float left
				font-size 24px
				line-height 30px
				margin 0px 4px
				cursor pointer
				color GRAY_66
				transition(color, 0.4s, ease-in-out)
			.star-color-4
				color #e4420a
			.star-color-3
				color #e07221
			.star-color-2
				color #da9336
			.star-color-1
				color #c8b21f
			.star-color-0
				color GRAY_66
		.evaluation-kpi-info
			display block
			float left
			line-height 30px
			font-size 14px
			color #999999
			background-color #ffffff
			padding 0px 10px
			margin-left 10px
			position relative
			&-arrow
				position absolute
				width 0px
				height 8px
				border-top 8px solid transparent
				border-bottom 8px solid transparent
				border-right 8px solid #ffffff
				top 50%
				margin-top -8px
				left -8px
			.evaluation-kpi-starstext
				display block
				float left
				line-height 30px
				font-size 14px
				font-weight bold
				color ORANGE_RED
			.evaluation-kpi-starsintro
				display block
				float left
				line-height 30px
				font-size 14px
				color #999999

/*END 问卷调查*/
