h3.page-title
	|问卷调查
	small &nbsp;相关说明文字
form#evaluationForm
	.evaluation-item
		.row
			.col-md-4.col-sm-12
				.evaluation-box
					.evaluation-avatar
						img(src="assets/admin/pages/media/profile/profile_user.jpg")
					.evaluation-name 
						|郭麒麟
						span &nbsp;&nbsp;教练
					.evaluation-info C1&nbsp;&nbsp;科目二&nbsp;&nbsp;车牌号：C1402
			.col-md-8.col-sm-12
				.evaluation-kpi#stars_1_1
					.evaluation-kpi-title 评价指标A：
					.evaluation-kpi-stars
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 1星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于1星评价的说明
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 2星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于2星评价的说明
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 3星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于3星评价的说明
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 4星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于4星评价的说明
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 5星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于5星评价的说明
					input.hidden.stars-input(type = 'text')
				.evaluation-kpi#stars_1_2
					.evaluation-kpi-title 评价指标B：
					.evaluation-kpi-stars
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 1星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于1星评价的说明
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 2星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于2星评价的说明
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 3星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于3星评价的说明
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 4星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于4星评价的说明
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 5星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于5星评价的说明
					input.hidden.stars-input(type = 'text')
				.evaluation-kpi#stars_1_3
					.evaluation-kpi-title 评价指标C：
					.evaluation-kpi-stars
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 1星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于1星评价的说明
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 2星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于2星评价的说明
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 3星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于3星评价的说明
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 4星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于4星评价的说明
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 5星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于5星评价的说明
					input.hidden.stars-input(type = 'text')
				.evaluation-kpi#stars_1_4
					.evaluation-kpi-title 评价指标D：
					.evaluation-kpi-stars
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 1星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于1星评价的说明
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 2星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于2星评价的说明
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 3星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于3星评价的说明
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 4星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于4星评价的说明
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 5星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于5星评价的说明
					input.hidden.stars-input(type = 'text')
			.clearfix
	.evaluation-item
		.row
			.col-md-4.col-sm-12
				.evaluation-box
					.evaluation-avatar
						img(src="assets/admin/layout/img/avatar2.jpg")
					.evaluation-name 
						|纳兰佑慈
						span &nbsp;&nbsp;教练
					.evaluation-info C1&nbsp;&nbsp;科目三&nbsp;&nbsp;车牌号：C1293
			.col-md-8.col-sm-12
				.evaluation-kpi#stars_2_1
					.evaluation-kpi-title 评价指标A：
					.evaluation-kpi-stars
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 1星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于1星评价的说明
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 2星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于2星评价的说明
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 3星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于3星评价的说明
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 4星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于4星评价的说明
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 5星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于5星评价的说明
					input.hidden.stars-input(type = 'text')
				.evaluation-kpi#stars_2_2
					.evaluation-kpi-title 评价指标B：
					.evaluation-kpi-stars
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 1星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于1星评价的说明
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 2星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于2星评价的说明
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 3星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于3星评价的说明
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 4星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于4星评价的说明
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 5星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于5星评价的说明
					input.hidden.stars-input(type = 'text')
				.evaluation-kpi#stars_2_3
					.evaluation-kpi-title 评价指标C：
					.evaluation-kpi-stars
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 1星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于1星评价的说明
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 2星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于2星评价的说明
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 3星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于3星评价的说明
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 4星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于4星评价的说明
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 5星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于5星评价的说明
					input.hidden.stars-input(type = 'text')
				.evaluation-kpi#stars_2_4
					.evaluation-kpi-title 评价指标D：
					.evaluation-kpi-stars
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 1星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于1星评价的说明
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 2星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于2星评价的说明
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 3星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于3星评价的说明
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 4星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于4星评价的说明
					.evaluation-kpi-info.hidden
						.evaluation-kpi-info-arrow
						.evaluation-kpi-starstext 5星
						.evaluation-kpi-starsintro &nbsp;—&nbsp;关于5星评价的说明
					input.hidden.stars-input(type = 'text')
			.clearfix
	a.btn.blue(href="#small" data-toggle="modal")
		|&nbsp;提交&nbsp;
	a.btn.blue(href="javascript:;")
		|&nbsp;取消&nbsp;

.modal.fade.bs-modal-sm#small(tabindex="-1" role="dialog" aria-hidden="true")
	.modal-dialog.modal-sm
		.modal-content
			.modal-header
				button.close(type="button" data-dismiss="modal" aria-hidden="true")
				h4.modal-title 确认提交
			.modal-body
				|感谢您的参与，您确定要提交吗？
			.modal-footer
				button.btn.blue(type="button" data-dismiss="modal") 取消
				button.btn.blue(type="button") 提交
