.page-sidebar.navbar-collapse.collapse
	ul.page-sidebar-menu(data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200")
		li.heading
			h3 个人中心
		li
			a(href="admin-01-userinfo.html")
				i.icon-user
				span.title 个人信息
				span.selected.hide
		li.active
			a(href="javascript:;")
				i.icon-bell
				span.title 事件通知
				span.selected
		li
			a(href="admin-03-history.html")
				i.icon-speedometer
				span.title 历史记录
				span.selected.hide
		li
			a(href="javascript:;")
				i.icon-wallet
				span.title 欠费清缴
				span.selected.hide
		li
			a(href="javascript:;")
				i.icon-calendar
				span.title 我的预约
				span.selected.hide
		li.heading
			h3 预约中心
		li
			a(href="javascript:;")
				i.icon-flag
				span.title 考试预约
				span.selected.hide
		li
			a(href="javascript:;")
				i.icon-cursor
				span.title 培训预约
				span.selected.hide
		li
			a(href="javascript:;")
				i.icon-notebook
				span.title 理论课预约
				span.selected.hide
		li
			a(href="javascript:;")
				i.icon-direction
				span.title 班车预约
				span.selected.hide
		li.heading
			h3 在线培训
		li
			a(href="javascript:;")
				i.icon-book-open
				span.title 在线学习
				span.selected.hide
		li
			a(href="admin-exam-01.html")
				i.icon-note
				span.title 模拟考试
				span.selected.hide
		li
			a(href="admin-questionnaire-01.html")
				i.icon-question
				span.title 问卷调查
				span.selected.hide

